.Navbar__mainContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 2;
}

.NavBar__burgerMenu {
    color: white;
}
.NavBar__homeIconDiv {
    width: 60px;
    height: 50px;
    margin-top: 10px;
    margin-left: 15px;
}
.NavBar__homeIcon {
    background-image: url("../../images/CM.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.NavBar__burgerMenuDiv {
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
}
.NavBar__burgerMenu {
    background-image: url("../../images/thinBurgerMenu.svg");
    background-size: contain;
    width: 35px;
    height: 30px;
    background-repeat: no-repeat;
}
.NavBar__burgerMenuDiv:hover {
    filter: invert(30%);
    cursor: pointer;
}
